<h1>Thông tin chi tiết sách </h1>
<form [formGroup]="bookForm" >
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Tên sách</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="title" required="nhập tên sách">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Tác giả</label>
    <input type="text" class="form-control" id="exampleFormControlInput2" formControlName="author" required="nhập tên tác giả">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Mô tả</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description" required="nhập mô tả"></textarea>
  </div>
</form>
